# Lists and its default functions
List are mutable, ordered, collection of Different datatype

In [7]:
lst=['food', 'sports', 12345, [1,2,3]]
print(lst)

['food', 'sports', 12345, [1, 2, 3]]

In [15]:
lst.append('IT')
print(lst)

['food', 'sports', 12345, [1, 2, 3], 'IT', 'IT', 'IT', 'IT']

In [ ]:
#to print the 4th data -

In [16]:
print(lst[3])

[1, 2, 3]

In [17]:
#to find the length of the list -

In [19]:
print(len(lst))

8

In [21]:
#to clear list

In [30]:
lst1=[1,2,3,4]
lst1.clear()
print(lst1)

[]

In [ ]:
#count number of repeated objects

In [35]:
sub = ['maths', 'sci', 'marathi', 'eng', 'eng']
subcount = sub.count('eng')
print(subcount)

2

In [37]:
#use of pop - removes the mentioned object

In [1]:
sub = ['maths', 'sci', 'marathi', 'eng', 'eng']

sub.pop(4)

print(sub)

['maths', 'sci', 'marathi', 'eng']

In [3]:
#to reverse the list order

In [7]:
lst2=[4,3,2,1]
lst2.reverse()
print(lst2)

[1, 2, 3, 4]

# Dictonaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values

In [9]:
dit1={"name":"kets", "age":"20", "location":"Mumbai"}
print(dit1)

{'name': 'kets', 'age': '20', 'location': 'Mumbai'}

In [10]:
#add an item to the above list

In [19]:
dit1 = {"name":"kets", "age":"20", "location":"Mumbai"}
dit1["favorite color"] = "blue"
print(dit1)

{'name': 'kets', 'age': '20', 'location': 'Mumbai', 'favorite color': 'blue'}

In [21]:
#Create a dictionary with 3 keys, all with the same value

In [27]:
a = ('key1', 'key2', 'key3')
b = 0, 1, 2

dit = dict.fromkeys(a, b)

print(dit)

{'key1': (0, 1, 2), 'key2': (0, 1, 2), 'key3': (0, 1, 2)}

In [28]:
#Return the keys

In [31]:
a = {
    "Name":"xyz",
    "Quali":"BE",
    "University":"Mumbai"
}

list=a.keys()
print(list)

dict_keys(['Name', 'Quali', 'University'])

In [32]:
#Return the values

In [34]:
a = {
    "Name":"xyz",
    "Quali":"BE",
    "University":"Mumbai"
}

list=a.values()
print(list)

dict_values(['xyz', 'BE', 'Mumbai'])

# Sets
A set is a collection which is unordered and unindexed.

In [37]:
set1={"Mumbai", "Pune", "Kolkata", "Delhi"}
print(set1)

{'Delhi', 'Mumbai', 'Pune', 'Kolkata'}

In [39]:
#Add element to a set

set1={"Mumbai", "Pune", "Kolkata", "Delhi"}
set1.add("Hyderabad")
print(set1)

{'Delhi', 'Pune', 'Kolkata', 'Mumbai', 'Hyderabad'}

In [42]:
#set difference method - will return the contents present in only 1 set

s1 = {"Mumbai", "Pune", "Kolkata", "Delhi"}
s2 = {"India", "UK", "US", "Mumbai"}
s3 = s1.difference(s2)
print (s3)
s4 = s2.difference(s1)
print (s4)

{'Delhi', 'Pune', 'Kolkata'}
{'UK', 'India', 'US'}

In [45]:
#set union method - will return elements in both lists

s1 = {"Mumbai", "Pune", "Kolkata", "Delhi"}
s2 = {"India", "UK", "US", "Mumbai"}
s5 = s1.union(s2)
print(s5)

{'US', 'Delhi', 'India', 'Pune', 'Kolkata', 'UK', 'Mumbai'}

# Tuple
A tuple is a collection which is ordered and unchangeable

In [47]:
tuple = ("abc", "def", "ghi")
print(tuple)

('abc', 'def', 'ghi')

In [50]:
#Tuple count() Method - Returns the number of times a specified value occurs in a tuple

tuple1 = (34, 50, 43, 43, 65, 100, 100, 45, 43, 43)

a = tuple1.count(43)

print(a)

4

In [52]:
#Tuple index - Searches the tuple for a specified value and returns the position of where it was found

tuple1 = (34, 50, 43, 43, 65, 100, 100, 45, 43, 43)

b = tuple1.index(45)

print(b)

7

# Strings

In [54]:
#capitalize

a = "how are you"
b = a.capitalize()
print(b)

How are you

In [61]:
#encode

a1 = "I stay in Mumb√•i"
c = a1.encode()
print(c)

b'I stay in Mumb\xc3\xa5i'

In [63]:
#splitlines

d = "Hey Hi\nWassup"

e = d.splitlines()

print(e)

['Hey Hi', 'Wassup']